<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css' media="none" onload="if(media!='all')media='all'">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' media="none" onload="if(media!='all')media='all'">
  <link rel="stylesheet" href="{{"/assets/vendor/bootstrap/css/bootstrap.min.css" | relative_url }}"  media="none" onload="if(media!='all')media='all'">
  <link rel="stylesheet" href="{{"/assets/vendor/fontawesome-free/css/all.min.css" | relative_url }}"  media="none" onload="if(media!='all')media='all'">
  <link rel="stylesheet" href="{{"/assets/main.css" | relative_url }}"  media="none" onload="if(media!='all')media='all'">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  {% seo %}
  <style>
        #toc_container {
        background: #f9f9f9 none repeat scroll 0 0;
        border: 1px solid #aaa;
        display: table;
        font-size: 95%;
        margin-bottom: 1em;
        padding: 20px;
        width: auto;
    }
    p{
      text-align: justify;
    }
    .toc_title {
        font-weight: 700;
        text-align: center;
    }

    #toc_container li, #toc_container ul, #toc_container ul li{
        list-style: outside none none !important;
    }
    </style>
</head>
